@import "../../Css/base";
@import "../../Css/mixins";
@import "../../Css/variable";
@import "../../Css/aem_grid";

.cart-wrapper {
    padding: 20px;

    .shopping-bag {
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
        text-align: center;
        font: normal normal 600 48px/45px Source Serif Pro;
        letter-spacing: 0px;
        padding: 15px 0;

        &::after {
            content: '';
            position: absolute;
            margin-top: 61px;
            width: 86px;
            right: 49vw;
            height: 5px;
            background-color: #1F39FF;
        }
    }

    .cart-left .wrapper {
        .left {
            @include flex(center, left);

            .cart-img {
                width: 150px;
                height: 150px;
            }

            .cotent-wrapper {
                h2 {
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-172026);
                    text-align: left;
                    font: normal normal 600 20px/25px Muli;
                }

                p {
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-172026);
                    text-align: left;
                    font: normal normal normal 16px/24px Muli;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0 20px;

            .btn-qty {
                display: flex;
                gap: 10px;
                margin: 15px 0;

                input {
                    width: 80px;
                    height: 30px;
                    cursor: pointer;
                    color: var(--unnamed-color-172026);
                    text-align: center;
                    font: normal normal 600 16px/20px Muli;
                    letter-spacing: 0.32px;
                    opacity: 1;
                    border: 2px solid var(--gray-m1);
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border-radius: 8px;
                }

                button {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    text-align: center;
                    cursor: pointer;
                    background: #EAEBEB 0% 0% no-repeat padding-box;
                    border: 2px solid #B5B8BA;
                    font: normal normal bold 14px/17px Proxima Nova;
                    letter-spacing: 0px;
                    opacity: 1;
                }
            }

            .edit {
                display: flex;
                flex-direction: row;
                gap: 5px;
                text-align: left;
                align-items: flex-start;

                button {
                    border: none;
                    background: none;
                    cursor: pointer;
                }

                img {
                    margin: 0 5px;
                    width: 20px;
                    height: 15px;
                }
            }
        }

    }

    .cart-right {
        padding: 20px;
        margin-top: 20px;
        width: 65% !important;
        border: 1px solid #D1D3D6;

        .summary-wrapper {
            ul.summary-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 5px 0;

                li {
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-172026);
                    text-align: left;
                    font: normal normal normal 16px/24px Muli;
                }
            }

            .check-out {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 15px 0;

                button {
                    padding: 9px 58px;
                    background: var(--primary-brand) 0% 0% no-repeat padding-box;
                    border-radius: 28px;
                    color: #fff;
                    opacity: 1;
                    margin-bottom: 15px;
                }

                img {
                    width: 195px;
                    height: 34px;
                }
            }
        }

    }
}

.select-wrapper {
    width: 67%;
    padding: 20px;

    ul {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid #D1D3D6;
        padding: 20px;

        li {
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            text-align: left;
            font: normal normal normal 20px/25px Muli;

            &:nth-child(2) {
                letter-spacing: var(--unnamed-character-spacing-0);
                text-align: right;
                font: normal normal normal 14px/18px Muli;
                letter-spacing: 0px;
                color: #72777F;
            }
        }
    }
}

@include tablet {

    .cart-wrapper {
        .cart-left {
            .wrapper {
                .right {
                    display: flex;
                    flex-direction: row !important;
                    gap: 20px;
                    padding: 25px;

                    .edit {
                        flex-direction: column;
                    }
                }
            }
        }

        .cart-right {
            margin-top: 0px;
            width: 30% !important;
        }
    }

    .select-wrapper {
        ul {
            display: flex;
            flex-direction: row;
        }
    }
}